.root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 820px;
  min-width: 420px;
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  color: #888;
}