<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}styles/jquery-ui.css">
        <style>
            #progressbar, .tickLabel {
                display: none;
            }
            .slider150 {
                height: 150px;
            }
            .slider75 {
                height: 75px;
            }
            .box {
                border: gray solid 1px;
                padding: 1em;
                margin: 0.6em;
                border-radius: 3px;
                display: inline-block;
                vertical-align: top;
            }
            .seq_box {
                width: 330px;
            }
            .reg_box {
                width: 270px;
            }
            #menu {
                vertical-align: top;
            }
            .pointer {
                cursor: pointer;
            }
            .inline {
                display: inline-block;
                margin: 0.6em;
                vertical-align: top;
            }
        </style>
		<script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui-1.11.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.json-2.4.min.js"></script>
		<script>
        var site_url = '{{ SITE_URL }}';
		$(function(){
            $( "#menu" ).menu();
            $( "#progressbar" ).progressbar({
              value: false
            });
            $(document).tooltip();
            $("#tabs").tabs();
            $("button").button()
            
            function show_dialog() {
                $( "#dialog-modal" ).dialog({
                    height: 140,
                    modal: true,
                    buttons: {
                        Ok: function() {
                            $( this ).dialog( "close" );
                        }
                    },
                    open: function(event, ui){
                        setTimeout("$('#dialog-modal').dialog('close')",1000);
                    }
                });
            }
            
            $("#saver_select").change(function() {
                //Считывание значения из select-option
                var saver_name = $("#saver_select option:selected").val();
                //AJAX-запрос на сервер для получения параметров
                if (saver_name != "None") {
                    $.ajax({
                        url: ""+site_url+"psceth/loadparam/",
                        type: 'POST',
                        dataType: "json",
                        data: { 'saver_name' : saver_name },
                        success: function(data) {
                            $.each(data["settings"], function(key, value) {
                                $("#"+key).val(value);
                                $('#'+key.replace("range","slider")).slider('option','max',value);
                            });
                            $.each(data["parameters"], function(key, value) {
                                $("#"+key).val(value);
                                $( key.replace("value-","#slider-") ).slider("option","value",value);
                            });
                            $.each(data["calibration"], function(key, value) {
                                $("#"+key).val(value);
                                $( key.replace("value-","#slider-") ).slider("option","value",value);
                            });
                            $( "#dialog-modal" ).text('Загружены параметры "'+saver_name+'"');
                            show_dialog();
                        },
                    });
                }
            });
            
            $('#delparambut').click(function() {
                //Считывание значения из select-option
                var saver_name = $("#saver_select option:selected").val();
                //AJAX-запрос на сервер для удаления параметров
                if (saver_name != "None") {
                    $.ajax({
                        url: ""+site_url+"psceth/delparam/",
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        data: $.toJSON({ 'saver_name' : saver_name }),
                        success: function(data) {
                            $( "#dialog-modal" ).text(data);
                            show_dialog();
                        },
                    });
                }
            });
            
            $(document).ready(function(){
                //Смена значения select на указанное в **kwargs
                $('#saver_select').val("{{ current_saver.saver_name }}").change();
            });
            
            function pausedialog(comm) {
                $( "#dialog-pause" ).text(comm);
                $( "#dialog-pause" ).dialog({
                    height: 140,
                    modal: true,
                    buttons: {
                        "Continue": function() {
                            send("seq", "contr", "cont");
                            $( this ).dialog( "close" );
                        },
                        "Stop": function() {
                            send("seq", "contr", "stop");
                            $( this ).dialog( "close" );
                        },
                    }
                });
            }

            //Посылаем запрос, выводим ответ
			function send(type, subtype, value) {
                $('#progressbar').show();
				$.ajax({
					url: ""+site_url+"psceth/psceth-test/",
					type: 'POST',
                    dataType: "json",
					data: { 'type' : type, 'subtype': subtype, 'value': value },
					success: function(data) {
                        $('#progressbar').hide();
                        var resp = data["resp"]
                        if (type == "idn" || type == "pud" && value == "") {
                            $("#informer").append(resp);
                        }
                        else if (type == "read-cat" || type == "del-cat") {
                            $("#seq_select option").each(function(){
                                $(this).remove();
                            });
                            if (type == "read-cat") {
                                var arrseq = resp.split("\n");
                                $.each(arrseq, function() {
                                    if (this != "") {
                                        $("#seq_select").append( "<option value="+this+">"+this+"</option>" );
                                    }
                                });
                            }
                            else {
                                $( "#dialog-modal" ).text("Catalog is removed");
                                show_dialog();
                            }
                        }
                        else if (type == "seq") {
                            if (subtype == "curr-seq") {
                                $('#seq_select').val( resp.replace("\n","") ).change();
                            }
                            else if (subtype == "del-seq") {
                                $( "#dialog-modal" ).text('Sequence "'+value+'" is removed');
                                show_dialog();
                            }
                            else if (subtype == "sel-seq") {
                                $( "#dialog-modal" ).text('Sequence "'+value+'" is selected');
                                show_dialog();
                            }
                            else if (subtype == "create-seq") {
                                //Если sequence уже существует, выделяем его
                                if ($('#seq_select option[value='+value+']').length > 0) {
                                    $('#seq_select').val( value ).change();
                                }
                                //Если sequence только что был создан, информируем об этом
                                else {
                                    $( "#dialog-modal" ).text("Sequence "+value+" is created");
                                    show_dialog();
                                }
                            }
                            else if (subtype == "upl-seq") {
                                $( "#dialog-modal" ).text("Seq. '"+$("#seq_select option:selected").val()+"'\nStep '"+value.split(" ")[0]+"' is uploaded");
                                show_dialog();
                            }
                            else if (subtype == "dow-seq" || subtype == "state-seq") {
                                $("#informer").append(resp);
                            }
                            else if (subtype == "statedow-seq") {
                                if (resp != init) {
                                    $("#informer").append(resp);
                                    init = resp;
                                }
                                if (resp.substring(0,3) == "RUN" && pause != true) {
                                    //Посылаем запрос, если ИП продолжает выполнение программы, которая не стоит на паузе
                                    send("seq", "statedow-seq", "");
                                }
                            }
                            else if (subtype == "contr") {
                                var comm = value.split("-")[0]
                                $("#informer").append(comm+"\n");
                                if (value == "pause-seq") {
                                    pause = true;
                                    pausedialog(comm);
                                }
                                else if (comm == "run" || comm == "cont") {
                                    //При запуске программы объявляем глобальные переменные pause и init,
                                    //по значению которых браузер определяет, продолжать ли посылать запросы
                                    pause = false; init = ""
                                    send("seq", "statedow-seq", "");
                                }
                            }
                            else if (subtype == "trig-seq") {
                                $( "#dialog-modal" ).text("Immediate");
                                show_dialog();
                            }
                        }
                        else if (type == "measure") {
                            $("#measure-" + subtype).val(resp);
                        }
                        else if (type == "output" && value == "") {
                            var flresp = parseFloat(resp.split("\\")[0]);
                            $("#value-" + subtype).val(flresp);
                            $( "#slider-" + subtype ).slider("option","value",flresp);
                        }
                        else if (type == "max" && value == "" || type == "cal" && value == "") {
                            var flresp = parseFloat(resp.split("\\")[0]);
                            $( "#value-" + type + "-" + subtype ).val(flresp);
                            $( "#slider-" + type + "-" + subtype ).slider("option","value",flresp);
                        }
                        else {
                            if (type == "save") {
                                $( "#dialog-modal" ).text("saved");
                            }
                            else {
                                $( "#dialog-modal" ).html(resp);
                            }
                            show_dialog();
                        }
					},
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("error");
                        $('#progressbar').hide();
                    }
				});
			}
            
            //Measure, Max, Calibration, Sequences & Register
            var arrx = ["measure", "max", "output", "cal", "seq", "rs", "reg"]
            $.each(arrx, function(i, val) {
                $( "." + val ).click(function(e) {
                    e.preventDefault();
                    var len = val.length+1
                    var id = this.id
                    if (val == "cal") {
                        send(val, id.substring(len, len+1), "");
                    }
                    else if (val == "seq" && id == "upl-seq") {
                        var steps = $("#uploader").val().split("\n");
                        $.each(steps, function(i, z) {
                            send(val, id, z);
                        });
                    }
                    else if (id == "dow-seq") {
                        var str = $("#step_numbers").val()
                        var patt = new RegExp("-");
                        var steps = str.split("-");
                        if (patt.test(str) == true) {
                            var step_0 = parseInt(steps[0]);
                            var step_last = parseInt(steps[1])+1
                            for (var i = step_0; i < step_last; i++) {
                                send(val, id, i);
                            }
                        }
                        else {
                            var steps = str.split(";");
                            $.each(steps, function(i, z) {
                                send(val, id, z);
                            });
                        }
                    }
                    else if (val == "seq") {
                        if (id == "curr-seq" || id == "trig-seq" || id == "state-seq") {
                            var seq = ""
                        }
                        else if (id == "del-seq" || id == "sel-seq") {
                            var seq = $("#seq_select option:selected").val();
                        }
                        else if (id == "create-seq") {
                            var seq = $("#value-seq").val();
                        }
                        else if (id == "run-seq" || id == "pause-seq" || id == "cont-seq" || id == "next-seq" || id == "stop-seq") {
                            var seq = id
                            var id = "contr"
                        }
                        send(val, id, seq);
                    }
                    else if (val == "reg") {
                        var patt = new RegExp("value");
                        if (patt.test(id) == false) {
                            send(val, id, "");
                        }
                    }
                    else if (val == "rs") {
                        var patt = new RegExp("value");
                        if (patt.test(id) == false) {
                            var arr = id.split("-");
                            send(arr[0], arr[1], "");
                        }
                    }
                    else {
                        send(val, id.substring(len, len+7), "");
                    }
                });
            });

            //IDN, PUD, Password, Last Error, Save & Read Catalog
            var arry = ["idn", "pud", "passwd", "error", "save", "read-cat", "del-cat"]
            $.each(arry, function(i, val) {
                $( "#" + this ).click(function(e) {
                    e.preventDefault();
                    send(val, "", "");
                });
            });
            
            $( "#save-passwd" ).click(function(e) {
                e.preventDefault();
                send("passwd", "", "save");
            });
            
            //Set, PUD & Password
            var arrz = ["pud", "passwd"]
            $.each(arrz, function(i, val) {
                var id = 'input#value-' + val
                $(id).keydown(function(e) {
                    e.preventDefault();
                    //Считывание значения по нажатию enter
                    if(e.keyCode == 13){
                        var value = $(id).val()
                        send(val, "", value);
                    }
                });
            });
            
            $('#saveparambut').click(function() {
                $.fn.serializeFormJSON = function() {
                   var o = {};
                   var a = this.serializeArray();
                   $.each(a, function() {
                       if (o[this.name]) {
                           if (!o[this.name].push) {
                               o[this.name] = [o[this.name]];
                           }
                           o[this.name].push(this.value || '');
                       } else {
                           o[this.name] = this.value || '';
                       }
                   });
                   return o;
                };
                
                var sn = $('input#saver_name').val();
                var f_0 = $('form#parameters_form').serializeFormJSON();
                var f_1 = $('form#calibration_form').serializeFormJSON();
                var f_2 = $('form#settings_form').serializeFormJSON();
                var jsonstring = $.toJSON({"saver_name": sn, "parameters": f_0, "calibration": f_1, "settings": f_2})
                
                $.ajax({
                    url: ""+site_url+"psceth/saveparam/",
                    type : "POST",
                    contentType: 'application/json; charset=utf-8',
                    data : jsonstring,
                    success: function(data) {
                        $( "#dialog-modal" ).html(data);
                        $( "#dialog-modal" ).dialog({
                            height: 140,
                            modal: true,
                            buttons: {
                                Ok: function() {
                                    $( this ).dialog( "close" );
                                }
                            }
                        });
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("error");
                    }
                });
            });
            
            var obj = {"voltage":30, "current":100, "max-voltage":30, "max-current":100,
                        "cal-2":2, "cal-0":2, "cal-3":0.1, "cal-1":0.1,
                        "cal-5":2, "cal-4":2, "cal-7":0.1, "cal-6":0.1}
            //Инициализация слайдеров и установка значения по остановке ползунка
            $.each(obj, function(i, val) {
                if (val < 10) {
                    var st = 0.00001;
                }
                else {
                    var st = 0.01;
                }
                $( "#slider-" + i ).slider({
                    orientation: "vertical",
                    range: "min",
                    min: 0,
                    max: val,
                    value: 0,
                    step: st,
                    slide: function( event, ui ) {
                        $( "#value-" + i ).val( ui.value );
                    },
                    stop: function( event, ui ) {
                        if (i == "max-voltage" || i == "max-current") {
                            send("max", i.substring(4,11), ui.value);
                        }
                        else if (i == "voltage" || i == "current") {
                            send("output", i, ui.value);
                        }
                        else if (i.split("-")[0] == "cal") {
                            send("cal", i.split("-")[1], ui.value);
                        }
                    }
                });
            });
            
            //Установка значения токов, напряжений и калибровочных коэффициентов по нажатию Enter
            $.each(obj, function(i, val) {
                var id = 'input#value-' + i
                $(id).keydown(function(e) {
                    e.preventDefault();
                    if(e.keyCode == 13){
                        var value = $(id).val()
                        $( "#slider-" + i ).slider("option","value",value);
                        if (i == "max-voltage" || i == "max-current") {
                            send("max", i.substring(4,11), value);
                        }
                        else if (i == "voltage" || i == "current") {
                            send("output", i, value);
                        }
                        else if (i.split("-")[0] == "cal") {
                            send("cal", i.split("-")[1], value);
                        }
                    }
                });
            });
            
            //Смена Register Controls
            $(".pointer").click(function(){
                var id = this.id;
                var t = $( this ).text();
                $("#register_controls th").html(t);
                $(".rs").each(function(i) {
                    var arr = this.id.split("-");
                    arr[0] = id;
                    $( this ).attr("id",arr.join("-"));
                });
            });

            //Установка Status Registers и slider max по нажатию Enter
            $("#ese-value, #sre-value, .rs, .range").each(function(i) {
                $(this).keydown(function(e) {
                    var id = this.id
                    e.preventDefault();
                    if(e.keyCode == 13){
                        var value = $(this).val()
                        if (id == "ese-value" || id == "sre-value") {
                            send("reg", id.substring(0,3), value);
                        }
                        else if (id.split("-")[0] == "range") {
                            $('#'+id.replace("range","slider")).slider('option','max',value);
                        }
                        else {
                            var patt = new RegExp("value");
                            if (patt.test(id) == true) {
                                var arr = id.split("-");
                                send(arr[0], arr[1], value);
                            }
                        }
                    }
                });
            });
            
            //Очистка консоли
            $("#clearterminal").click(function(){
                $("#informer").text('');
            });
            
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');

			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
		});
		</script>
	</head>
	<body>
		{% block header %}
		{% endblock %}
		<div class="container" id="center">
			{% csrf_token %}
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td rowspan=4><textarea id="informer" name="informer" cols="50" rows="14" readonly></textarea></td>
                            <td><button id="idn">IDN?</button></td>
                        </tr>
                        <tr>
                            <td><button id="pud">PUD?</button></td>
                            <td><input id="value-pud" name="pud" size=20 type="text"></td>
                        </tr>
                        <tr>
                            <td><button id="error">Error?</button></td>
                        </tr>
                        <tr>
                            <td><button id="save">Save</button></td>
                        </tr>
                        <tr>
                            <td><textarea cols="50" rows="2"></textarea></td>
                            <td><button id="clearterminal">Clear</button></td>
                            <td><div id="progressbar"></div></td>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs">
                <ul>
                    <li><a href="#parameters">Параметры</a></li>
                    <li><a href="#calibration">Калибровка</a></li>
                    <li><a href="#sequencer">Секвенсор</a></li>
                    <li><a href="#register">Реестр</a></li>
                    <li><a href="#settings">Настройки</a></li>
                </ul>
                <div class="column" id="parameters">
                    <form id="parameters_form">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input id="measure-voltage" name="measure-voltage" size=10 type="text"></td>
                                    <td><button class="measure" id="measure-voltage-but">Measure Voltage?</button></td>
                                    <td><input id="measure-current" name="measure-current" size=10 type="text"></td>
                                    <td><button class="measure" id="measure-current-but">Measure Current?</button></td>
                                </tr>
                                <tr>
                                    <td><input size=10 type="text" class="values" id="value-voltage" name="value-voltage"></td>
                                    <td><button class="output" id="output-voltage-but">Output Voltage?</button></td>
                                    <td><input size=10 type="text" class="values" id="value-current" name="value-current"></td>
                                    <td><button class="output" id="output-current-but">Output Current?</button></td>
                                    <td><input class="values" id="value-max-voltage" name="value-max-voltage" size=10 type="text"></td>
                                    <td><button class="max" id="max-voltage-but">Max Voltage?</button></td>
                                    <td><input class="values" id="value-max-current" name="value-max-current" size=10 type="text"></td>
                                    <td><button class="max" id="max-current-but">Max Current?</button></td>
                                </tr>
                                <tr>
                                    <td colspan=2><div class="slider slider150" id="slider-voltage"></div></td>
                                    <td colspan=2><div class="slider slider150" id="slider-current"></div></td>
                                    <td colspan=2><div class="slider slider150" id="slider-max-voltage"></div></td>
                                    <td colspan=2><div class="slider slider150" id="slider-max-current"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="column" id="calibration">
                    <form id="calibration_form">
                        <table>
                            <tbody>
                                <tr>
                                    <td><input id="value-cal-2" name="value-cal-2" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-2-but">Gain Source Voltage?</button></td>
                                    <td><input id="value-cal-0" name="value-cal-0" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-0-but">Gain Source Current?</button></td>
                                    <td><input id="value-cal-3" name="value-cal-3" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-3-but">Offset Source Voltage?</button></td>
                                    <td><input id="value-cal-1" name="value-cal-1" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-1-but">Offset Source Current?</button></td>
                                </tr>
                                <tr>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-2"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-0"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-3"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-1"></div></td>
                                </tr>
                                <tr>
                                    <td><input id="value-cal-5" name="value-cal-5" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-5-but">Gain Measure Voltage?</button></td>
                                    <td><input id="value-cal-4" name="value-cal-4" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-4-but">Gain Measure Current?</button></td>
                                    <td><input id="value-cal-7" name="value-cal-7" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-7-but">Offset Measure Voltage?</button></td>
                                    <td><input id="value-cal-6" name="value-cal-6" size=10 type="text"></td>
                                    <td><button class="cal" id="cal-6-but">Offset Measure Current?</button></td>
                                </tr>
                                <tr>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-5"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-4"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-7"></div></td>
                                    <td colspan=2><div class="slider slider75" id="slider-cal-6"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="column" id="sequencer">
                    <div class="box seq_box">
                        <button id="read-cat">Read Catalog?</button>
                        <button id="del-cat">Delete Catalog</button>
                    </div>
                    <div class="box seq_box">
                        <select rowspan=3 id="seq_select"></select>
                        <button class="seq" id="sel-seq">Select Seq.</button>
                    </div>
                    <div class="box seq_box">
                        <button class="seq" id="curr-seq">Selected Sequence?</button>
                        <button class="seq" id="del-seq">Delete a Sequence</button>
                    </div>
                    <div class="box seq_box">
                        <input id="value-seq" size=20 type="text">
                        <button class="seq" id="create-seq">Create/Select Seq.</button>
                    </div>
                    <div class="box seq_box">
                        <div>
                            <textarea title="<NR1><sp><command+operand(s)><nl>" id="uploader" cols="20" rows="4"></textarea>
                            <button class="seq" id="upl-seq" style="vertical-align: top;">Upload Sequence</button>
                        </div>
                        <div>
                            <input title="<NR1>;<NR2>;<NR3>;<NR4>;<NR5> or <NR1>-<NR5>" id="step_numbers" size=20 type="text">
                            <button class="seq" id="dow-seq">Download Sequence</button>
                        </div>
                    </div>
                    <div class="box seq_box">
                        <button class="seq" id="run-seq">Run</button>
                        <button class="seq" id="pause-seq">Pause</button>
                        <button class="seq" id="cont-seq">Continue</button>
                        <button class="seq" id="next-seq">Next</button>
                        <button class="seq" id="stop-seq">Stop</button>
                        <button class="seq" id="trig-seq">Trigger a Step</button>
                        <button class="seq" id="state-seq">State?</button>
                    </div>
                </div>
                <div class="column" id="register">
                    <div class="box reg_box">
                        <table>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td><button title="Event Status Register?" class="reg" id="esr">ESR?</button></td>
                                </tr>
                                <tr>
                                    <td><input title="NR1 = 0 to 65535" class="reg" id="ese-value" size=10 type="text"></td>
                                    <td><button title="Event Status Enable?" class="reg" id="ese">ESE?</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button title="Status Byte?" class="reg" id="stb">STB?</button></td>
                                </tr>
                                <tr>
                                    <td><input title="NR1 = 0 to 255" class="reg" id="sre-value" size=10 type="text"></td>
                                    <td><button title="Service Request Enable?" class="reg" id="sre">SRE?</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button title="Clear All Event Registers" class="reg" id="cls">CLS</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box reg_box">
                        <ul id="menu">
                            <li>Status Operation Register Set
                                <ul>
                                    <li class="pointer" id="sor">Status Operation Registers</li>
                                    <li class="pointer" id="sos">Status Operation Settings Registers</li>
                                    <li class="pointer" id="srr">Status Operation Regulating Registers</li>
                                    <li class="pointer" id="soc">Status Operation RControl Registers</li>
                                    <li class="pointer" id="sod">Status Operation Shutdown Registers</li>
                                    <li class="pointer" id="sop">Status Operation Shutdown Protection Registers</li>
                                </ul>
                            </li>
                            <li>Status Questionable Register Set
                                <ul>
                                    <li class="pointer" id="sqr">Status Questionable Registers</li>
                                    <li class="pointer" id="sqv">Status Questionable Voltage Registers</li>
                                    <li class="pointer" id="sqc">Status Questionable Current Registers</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="box reg_box">
                        <table id="register_controls">
                            <tbody>
                                <th colspan=2>Status Operation Registers</th>
                                <tr>
                                    <td></td>
                                    <td><button class="rs" id="sor-cond">Condition?</button></td>
                                </tr>
                                <tr>
                                    <td><input class="rs" id="sor-ptr-value" size=10 type="text"></td>
                                    <td><button title="Positive Transition Register?" class="rs" id="sor-ptr">PTR?</button></td>
                                </tr>
                                <tr>
                                    <td><input class="rs" id="sor-ntr-value" size=10 type="text"></td>
                                    <td><button title="Negative Transition Register?" class="rs" id="sor-ntr">NTR?</button></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button class="rs" id="sor-even">Event?</button></td>
                                </tr>
                                <tr>
                                    <td><input class="rs" id="sor-enab-value" size=10 type="text"></td>
                                    <td><button class="rs" id="sor-enab">Enable?</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="column" id="settings">
                    <form id="settings_form" class="inline">
                        <table>
                            <tbody>
                                <th colspan=8>Диапазоны слайдеров</th>
                                <tr>
                                    <td><input title="Output Voltage Range" size=5 type="text" class="range" id="range-voltage" name="range-voltage"></td>
                                    <td><input title="Output Current Range" size=5 type="text" class="range" id="range-current" name="range-current"></td>
                                    <td><input title="Max Voltage Range" size=5 type="text" class="range" id="range-max-voltage" name="range-max-voltage"></td>
                                    <td><input title="Max Current Range" size=5 type="text" class="range" id="range-max-current" name="range-max-current"></td>
                                    <td><input title="Gain Source Voltage Range" size=5 type="text" class="range" id="range-cal-2" name="range-cal-2"></td>
                                    <td><input title="Gain Source Current Range" size=5 type="text" class="range" id="range-cal-0" name="range-cal-0"></td>
                                    <td><input title="Offset Source Voltage Range" size=5 type="text" class="range" id="range-cal-3" name="range-cal-3"></td>
                                    <td><input title="Offset Source Current Range" size=5 type="text" class="range" id="range-cal-1" name="range-cal-1"></td>
                                </tr>
                                <tr>
                                    <td colspan=4></td>
                                    <td><input title="Gain Measure Voltage Range" size=5 type="text" class="range" id="range-cal-5" name="range-cal-5"></td>
                                    <td><input title="Gain Measure Current Range" size=5 type="text" class="range" id="range-cal-4" name="range-cal-4"></td>
                                    <td><input title="Offset Measure Voltage Range" size=5 type="text" class="range" id="range-cal-7" name="range-cal-7"></td>
                                    <td><input title="Offset Measure Current Range" size=5 type="text" class="range" id="range-cal-6" name="range-cal-6"></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <form id="password_form" class="inline">
                        <table>
                            <tbody>
                                <th colspan=3>Установка пароля</th>
                                <tr>
                                    <td><input title="<old_password>,<new_password>" id="value-passwd" name="passwd" size=20 type="text"></td>
                                    <td><button title="0 - Нет, 1 - Да" id="passwd">Пароль установлен?</button></td>
                                    <td><button id="save-passwd">Сохранить пароль</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <table class="inline">
                        <tbody>
                            <th colspan=3>Сохранение / Загрузка</th>
                            <tr>
                                <td><label for="saver_name" id="saver_name_label">Установить параметры</label></td>
                                <td><input id="saver_name" size=15 type="text"></td>
                                <td><button id="saveparambut">Сохранить параметры</button></td>
                            </tr>
                            <tr>
                                <td><label for="saver_select" id="saver_select_label">Загрузить параметры</label></td>
                                <td>
                                    <select id="saver_select">
                                        <option value="None">Не выбрано</option>
                                        {% for s in saver_list %}
                                            <option value="{{ s.saver_name }}">{{ s.saver_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><button id="delparambut">Удалить параметры</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
		<div id="dialog-modal"></div>
        <div id="dialog-pause"></div>
		{% block footer %}
		{% endblock %}
	</body>
</html>