<!DOCTYPE HTML>
{% load thumbnail %}
<html>
<head>
	<meta charset="windows-1251">
	<style type="text/css">
	td, th {
		padding:5px;
	}
	tr {
		padding:5px;
	}
	table, td, th {
		border:1px solid green;
	}
	th{
		background-color:green;
		color:white;
	}
	</style>
</head>
</body>
<h2>{{ result.result_name }}</h2>
<img src="{% thumbnail result.image 500x500 sharpen %}">
<table>
<tr>
<th>Image Width</th>
<th>Image Height</th>
<th>ADC Range Code</th>
<th>Vertical Resolution</th>
<th>Horizontal Resolution</th>
<th>Scan Started At</th>
</tr>
<tr>
<td>{{ result.ImageWidth }}</td>
<td>{{ result.ImageHeight }}</td>
<td>{{ result.ADCRangeCode }}</td>
<td>{{ result.VerticalResolution }}</td>
<td>{{ result.HorizontalResolution }}</td>
<td>{{ result.ScanStartedAt }}</td>
</tr>
</table>
</body>
</html>