<!DOCTYPE HTML>
<html>
<head>
	<meta charset="windows-1251">
</head>
</body>
<h2>Timenow from BK Precision 8512:</h2>
{% for timenow in lasscan_experiment.timenow_set.all %}
	<p>{{ timenow.current_time }}</p>
{% endfor %}
</body>
</html>